@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");



* {
    margin: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins", serif
    
}

body {
    background-color: #000000;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    max-width: 1200px;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.navigation a {
    text-decoration: none;
    color: #eeeeee;
}

.navigation a:hover {
    text-decoration: none;
    color: rgb(143, 3, 3);
}

hr{
    opacity: 10%;
}


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}


.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.contactTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: ghostwhite;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}

.contact h3, .contact a {
    color: #eeeeee;
    text-decoration: none;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


footer {
    color: #eeeeee;
    padding: 2rem;
    text-align: center;
}